<div class="col-sm-3 my-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">todo1</h5>
            <p class="card-text">create a todo like this</p>
            <button class="btn btn-info btn-sm inverted" disabled>edit <i class="fas fa-pen-square"></i></button>
            <form style="display:inline;">
                <button class="btn btn-danger btn-sm inverted" disabled>delete <i class="fas fa-trash"></i></button>
            </form>
        </div>
    </div>
</div>