<div class="blog_card card">
                    <div class="blog_title my-div">
                        {{this.todotitle}}
                    </div>
                    <div class="posted_date my-div">Posted 11 Dec 2021</div>
                    <p>
                        {{this.todo}}
                    </p>
                    <a href="/"
                        >Read More
                        <img
                            src="./img/arrow.svg"
                            alt=""
                            srcset=""
                            class="mx-div"
                    /></a>
                </div>