<div class="modal fade" id="newtodo" tabindex="-1" aria-labelledby="newtodoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newtodoLabel">New Todo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/todos">
                    <div class="mb-3">
                        <label for="todotitle" class="col-form-label">Title: </label>
                        <input type="text" class="form-control" id="todotitle" name="todotitle" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="todo" class="col-form-label">Todo: </label>
                        <textarea class="form-control" id="todo" name="todo" autocomplete="off"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>