<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <title>Blog</title>
        
    </head>
    <body>
        <section class="header">
            <!-- navbar desktop-->
            <div class="nav">
                <div
                    class="
                        container
                        navbar
                        flex flex-jc-sb flex-ai-bl
                        hide-for-mobile
                    "
                >
                    <div class="nav_logo">
                        <div class="title">
                            <a href="/">Blog</a>
                        </div>
                    </div>
                    <div class="nav_links flex flex-jc-sb">
                        <a href="/">home</a>
                        <a href="#blog">Blog</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
            <!-- navbar mobile -->
            <div class="nav-mobile hide-for-desktop">
                <div class="container flex flex-jc-sb flex-ai-c">
                    <div class="nav-logo">
                        <div class="title">
                            <a href="#">Blog</a>
                        </div>
                    </div>
                    <a><i class="fa fa-bars" id="hamberger"></i></a>
                </div>
            </div>
            <div class="nav_toggle">
                <div class="nav_links">
                    <a href="/">home</a>
                    <a href="#blog">Blog</a>
                    <a href="/login">login</a>
                </div>
            </div>
            <div class="container header_content">
                <div class="header_title">
                    <div class="title">Creative Digital learning Blog</div>
                    <br />
                    <p>
                        A Technology blog which thrives to see more contact and more for free
                    </p>
                    <br />
                    <a href="#services"
                        ><button class="btn btn-primary">Learn more</button></a
                    >
                </div>
                <img src="img/header_main.svg" alt="header_img" class="" />
            </div>
        </section>
        <section class="services my-section" id="services">
            <div class="container">
                <div class="section-title">
                    <div class="title my-div">OUR SERVICES</div>
                    <div class="subtitle">
                        We Are Providing Digital services
                    </div>
                </div>
                <div class="cards my-div">
                    <div class="card">
                        <img src="./img/cardimg.svg" alt="" />
                        <div class="card_title my-div">Web development</div>
                        <div class="card_body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </div>
                    </div>
                    <div class="card">
                        <img src="./img/cardimg.svg" alt="" />
                        <div class="card_title my-div">App development</div>
                        <div class="card_body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </div>
                    </div>
                    <div class="card">
                        <img src="./img/cardimg.svg" alt="" />
                        <div class="card_title my-div">Machine learning</div>
                        <div class="card_body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about_us my-section">
            <div class="container">
                <img src="./img/about_us.svg" alt="" class="mx-div" />
                <div class="content mx-div">
                    <div class="section-title">
                        <div class="title my-div">ABOUT US</div>
                        <div class="subtitle my-div">
                            We design, build brands & digital projects.
                        </div>
                    </div>
                    <div class="section-body my-div">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Provident nihil sint ducimus laboriosam quos
                            corporis distinctio. Repellat deleniti eveniet
                            voluptate, excepturi blanditiis modi! Necessitatibus
                            explicabo hic provident magni recusandae reiciendis?
                        </p>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Possimus,
                        </p>
                    </div>
                    <a href="">
                        <button class="btn btn-primary">Read more</button>
                    </a>
                </div>
            </div>
        </section>
        <section class="our_blog my-section" id="blog">
            <div class="container cards">
                {{#each result}}
                    {{>indexcards todotitle=this.todotitle todo=this.todo}}
                {{/each}}
            </div>
        </section>
        <footer>
            <div class="container footer">
                <div class="footer_logo">
                    <a href="/">blog</a>
                </div>
                <div class="copyright">Made by <a href="https://linktr.ee/tejaswan">Tejaswan</a></div>
            </div>
        </footer>
        <script src="js/index.js"></script>
    </body>
</html>
